doctype html
html
  head
    meta(charset="UTF-8")
    title iCultus

    style.
      html{
        -webkit-font-smoothing: antialiased;
        font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;Symbol";
        font-size: 18px;
      }
      body{
        padding-top: 5%;
      }
      h1{
        font-weight: 200;
        margin: 0;
      }
      h2{
        font-weight: 100;
      }
      .center{
        text-align: center;
      }

      .logo{
        max-width: 64px;
      }

      .btn{
        text-decoration: none;
        font-size: .8em;
        color: #7BBFE0;
        font-weight: bold;
        border: 1px solid #7BBFE0;
        padding: .8em;
        border-radius: 3px;
        transition: all .2s;
        -webkit-transition: all .2s;
        display: inline-block;
      }

      .screenshot{
        max-width: 220px;
        margin-bottom: 2em;
        border-radius: 2px;
        -webkit-box-shadow: 0 1px 2px #000;
        -moz-box-shadow: 0 1px 2px #000;
        box-shadow: 0 1px 2px #000;
      }

      .btn:hover{
        background-color: #7BBFE0;
        color: #fff;
      }

      .small{
        font-size: .8em;
        font-weight: lighter;
      }

      a{
        text-decoration: none;
        color: #7BBFE0;
      }
  body
    section.center
      img.logo(src="http://ww3.sinaimg.cn/large/62580dd9gw1exrqby02uhj20740740sq.jpg")
      h1 iCultus
      h2 Awesome OS X menubar calendar
      div
        img.screenshot(src="http://ww4.sinaimg.cn/large/62580dd9gw1exroxdo8kcj207w083jrx.jpg")
      a(href="https://github.com/djyde/iCultus/releases/download/v1.0.0/iCultus-1.0.0-darwin-x64.zip").btn Free Download Now (v1.0.0)
      p.small(style="margin-top: 2em;") Made with ❤ by 
        a(href="https://github.com/djyde", style="font-weight: bold") Randy
        | , based on Electron + Vue.js

    <a href="https://github.com/djyde/iCultus"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>